html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
}
html body .main {
  padding: 0 20px;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 2em 0;
}
.section .card {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #222;
}
.nav__link {
  line-height: 40px;
  text-decoration: none;
  color: #fff;
}
.nav__link:hover {
  color: #888;
}

@media screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }
  section .card {
    width: 100%;
  }
}
